#multiplication {
  display: flex;
  width: 100%;
  max-width: 400px;
  margin: 0px auto 15px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  background-color: #f2f2f2;
  flex-wrap: wrap;
  border: .3em solid rgba(0, 0, 0, 0.15);
}

#multiplication:hover {
  border: 2px solid rgb(144, 75, 184);
}


#valueMultiplication{
  width: 100%;
  font-size: 35px;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 1px solid rgba(0, 0, 0, 0.40);
}

#valueMultiplication:hover {
  font-size: 2.4em;
  border-color: rgb(144, 75, 184);
}

#multiplication table {
  width: 100%;
  border-collapse: collapse;
}

#multiplication table td {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.35);
  text-align: center;
}

#multiplication tr:hover {
  background-color: rgba(0, 0, 0, 0.10);
}